@model Proyecto.estante

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de Estante</h2>

<div>
    <h4>estante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numero de estante
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n_estante)
        </dd>

        <dt>
            Nombre de categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre_categoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Estante", "Edit", new { id = Model.id_estante }) |
    @Html.ActionLink("Volver", "Index")
</p>
